body{
    background: url("img/cutlery.jpg") center center no-repeat;
    background-size: cover;
    color:firebrick ;
}
#container {
    width: 400px;
    padding: 20px;
    margin: 50px auto;
    box-sizing: border-box;
    background: url(img/paper-pattern.jpg)top left repeat;
    box-shadow: 0 10px 15px -8px #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
    
}
h1{
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: 1px solid #ddd;
}

form label{
    display: block;
    margin: 25px 0;
    font-weight: bold;
}
form input, form select{
    padding: 8px;
    margin: 10px 0;  
}
form input[type="text"]
{
    width: 90px;
}
button, #cal{
    background: #6c2726;
    color: #fff;
    border:none;
    border-bottom: solid 4px #222;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px 30px;   
}
button:hover{
    background: #4c2726;
    border-bottom-color: #111;    
}
button:active{
    position: relative;
    top: 1px;
    color: #fff;
}

#totaltip{
    font-size: 50px;
    margin-top: 40px;
}
#totaltip:before{
    content:"Tip amount";
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}
#totaltip sup{
    font-size: 20px;
    top: -18px;
    
}
#totaltip small{
    font-size: 14px;
    font-weight: bold;
    display: block;
}